<!-- -->
<launch>
  <arg name="objects_definition_file" default='$(find carla_spawn_objects)/config/objects.json'/>
  <arg name="spawn_sensors_only" default="false"/>

  <node pkg="carla_spawn_objects" type="carla_spawn_objects.py" name="$(anon carla_spawn_objects)" output="screen">
    <param name="objects_definition_file" value="$(arg objects_definition_file)" />
    <param name="spawn_sensors_only" value="$(arg spawn_sensors_only)" />
  </node>
</launch>
